.form__type{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.form__legend{
    font-size: 18px;
    font-style: italic;
    margin-bottom: 5px;
}